@import "./null.scss";

header {
  background-color: $blue;
  color: #fff;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 5000;
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.15));

  .container {
    padding: 8px 0;
    .search_plate {
      background: #ffffff;
      border: 1px solid #d9d9d9;
      border-radius: 4px;
      letter-spacing: 0.7px;
      color: #bfbfbf;
      padding: 5px 30px 5px 12px;
      background-image: url(../images/search-icon.svg);
      background-repeat: no-repeat;
      background-position-x: calc(100% - 9.75px);
      background-position-y: center;
      background-size: 12.5px 12.5px;
      width: 340px;
      max-width: 40%;
      &::placeholder {
        opacity: 0.4;
      }
    }
    nav {
      width: 415px;
      max-width: 60%;
      background-color: $blue;
      .divided {
        position: relative;
        font-weight: 600;
        &::after {
          content: "";
          position: absolute;
          width: 1px;
          height: 100%;
          border: none;
          background-color: #003a8c;
          top: 0;
          left: calc(100% + 12px);
        }
      }
      a {
        text-transform: capitalize;
        color: #fff;
        letter-spacing: 0.5px;
      }
      .person {
        display: inline-flex;
        align-items: center;
      }
      .icons_panel {
        width: 40%;
        a {
          width: 21px;
          height: 21px;
        }
        svg {
          width: 21px;
          path {
            fill: #002766;
            transition: 0.3s;
          }
          &:hover {
            path {
              fill: #fff;
            }
          }
        }
        .info {
          cursor: pointer;
          &:hover {
            svg {
              path {
                fill: #fff;
              }
            }
          }
        }

        .nav_icon__focus__num {
          position: relative;
          svg {
            path {
              fill: #fff;
            }
          }
          &::after {
            content: "8";
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            background-color: red;
            border-radius: 50%;
            font-weight: 600;
            line-height: 1.1;
            width: 18px;
            height: 18px;
            top: -10px;
            right: -10px;
            border: 1px solid #ffffff;
            color: #fff;
          }
        }
        .nav_icon__focus {
          position: relative;
          svg {
            path {
              fill: #fff;
            }
          }
        }
      }
    }
    .icons_panel__submenu {
      position: absolute;
      display: none;
      top: 100%;
      right: 8.5%;
      width: calc(415px * 0.44);
      height: auto;
      background-color: #fff;
      padding: 8px 15px;
      border-radius: 0px 0px 8px 8px;
      ul {
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        width: 100%;
        li {
          width: 100%;
          a {
            color: $medium_gray;
            margin: 5px 0;
            padding-left: 0;
            transition: all 0.3s ease-out;
            width: 100%;
            display: inline-block;
            &:hover {
              letter-spacing: 2px;
              color: $dark_gray;
            }
          }
        }
      }
    }
  }
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
  overflow: hidden;
  img {
    height: 100%;
  }
}

.title {
  color: $dark_gray;
  margin-left: 8px;
  font-weight: 600;
}

.more {
  color: #1890ff;
  justify-content: flex-start;
  svg {
    margin-right: 12px;
  }
}

main {
  margin-top: 16px;
  .container {
    align-items: flex-start;
    .menuSidebar {
      width: 16%;
      .common,
      .shortcuts,
      .explore {
        margin-bottom: 20px;
      }
      .person {
        margin-bottom: 12px;
        justify-content: flex-start;
        margin-left: 10px;
        color: $medium_gray;
        &:hover {
          color: $blue;
        }
        .avatar {
          height: 24px;
          width: 24px;
        }
        .full_name {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 70%;
        }
      }
      .sidebar_link {
        justify-content: flex-start;
        padding: 4px 8px;
        position: relative;
        transition: 0.2s;
        svg {
          width: 24px;
          height: 24px;
          margin-right: 8px;
          &:nth-of-type(2) {
            position: absolute;
            right: 0;
            path {
              fill: #595959;
            }
          }
        }
        &:hover,
        &.active_sb_link {
          background-color: #fff;
          border-radius: 4px;
        }
        &.active_sb_link {
          color: $dark_gray;
          font-weight: 600;
        }
      }
      .more {
        margin-left: 8px;
      }
    }
  }
}
